/* Set up a default font and some padding to provide breathing room */
body {
  font-family: RobotoDraft, Roboto, "Helvetica Neue", sans-serif;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}