<md-sidenav-container>
    <md-sidenav mode="side" opened="true" class="sidenav-left">
        <nav>
            <div *ngFor="let item of menu">
                <h3>{{item.name}}</h3>
                <ul>
                    <li *ngFor="let element of item.items">
                        <a [routerLink]="element.link" [routerLinkActive]="['router-link-active']">
                            {{element.name}}
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </md-sidenav>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>